dash==2.18.1
dash-bootstrap-components==0.13.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
pandas==2.2.2
gunicorn==21.2.0
psycopg2==2.9.10
Flask-Session==0.8.0
openpyxl==3.1.5